<div id="pageWidth">

  <div id="left-nav">
    <div id="nav-heading">Select a Language</div>
    <ul id="language-list"></ul>
  </div>

  <div id="main">
    <div id="embed-container"></div>
  </div>

</div>

<script src="js/bundle.js"></script>