use TWO
declare @stats table (tbl varchar(255), nrecords int);
insert into @stats
SELECT 'ACColumn', COUNT(*) from ACColumn
union
SELECT 'AF00100', COUNT(*) from AF00100
union
SELECT 'AF10000', COUNT(*) from AF10000
union
SELECT 'AF40100', COUNT(*) from AF40100
union
SELECT 'AF40101', COUNT(*) from AF40101
union
SELECT 'AF40102', COUNT(*) from AF40102
union
SELECT 'AF40103', COUNT(*) from AF40103
union
SELECT 'AF40104', COUNT(*) from AF40104
union
SELECT 'AF40105', COUNT(*) from AF40105
union
SELECT 'AF40106', COUNT(*) from AF40106
union
SELECT 'AF40107', COUNT(*) from AF40107
union
SELECT 'AF40108', COUNT(*) from AF40108
union
SELECT 'AF40109', COUNT(*) from AF40109
union
SELECT 'AF40110', COUNT(*) from AF40110
union
SELECT 'AF40200', COUNT(*) from AF40200
union
SELECT 'AF40201', COUNT(*) from AF40201
union
SELECT 'AF40202', COUNT(*) from AF40202
union
SELECT 'AF40203', COUNT(*) from AF40203
union
SELECT 'AF40204', COUNT(*) from AF40204
union
SELECT 'AF50000', COUNT(*) from AF50000
union
SELECT 'AF50001', COUNT(*) from AF50001
union
SELECT 'AF50004', COUNT(*) from AF50004
union
SELECT 'AF50100', COUNT(*) from AF50100
union
SELECT 'AF50200', COUNT(*) from AF50200
union
SELECT 'AF50300', COUNT(*) from AF50300
union
SELECT 'ASILOC90', COUNT(*) from ASILOC90
union
SELECT 'BM00101', COUNT(*) from BM00101
union
SELECT 'BM00111', COUNT(*) from BM00111
union
SELECT 'BM10200', COUNT(*) from BM10200
union
SELECT 'BM10300', COUNT(*) from BM10300
union
SELECT 'BM10400', COUNT(*) from BM10400
union
SELECT 'BM30100', COUNT(*) from BM30100
union
SELECT 'BM30200', COUNT(*) from BM30200
union
SELECT 'BM30300', COUNT(*) from BM30300
union
SELECT 'BM30400', COUNT(*) from BM30400
union
SELECT 'BM40100', COUNT(*) from BM40100
union
SELECT 'CAM10000', COUNT(*) from CAM10000
union
SELECT 'CAM10100', COUNT(*) from CAM10100
union
SELECT 'CAM10200', COUNT(*) from CAM10200
union
SELECT 'CAM10210', COUNT(*) from CAM10210
union
SELECT 'CAM30000', COUNT(*) from CAM30000
union
SELECT 'CAM30100', COUNT(*) from CAM30100
union
SELECT 'CAM40001', COUNT(*) from CAM40001
union
SELECT 'CAM40002', COUNT(*) from CAM40002
union
SELECT 'CAM40003', COUNT(*) from CAM40003
union
SELECT 'CAM40004', COUNT(*) from CAM40004
union
SELECT 'CAM40005', COUNT(*) from CAM40005
union
SELECT 'CFM00100', COUNT(*) from CFM00100
union
SELECT 'CFM00101', COUNT(*) from CFM00101
union
SELECT 'CFM00200', COUNT(*) from CFM00200
union
SELECT 'CFM20001', COUNT(*) from CFM20001
union
SELECT 'CFM40000', COUNT(*) from CFM40000
union
SELECT 'CFMACTIV', COUNT(*) from CFMACTIV
union
SELECT 'CFMTEMP', COUNT(*) from CFMTEMP
union
SELECT 'CM00002', COUNT(*) from CM00002
union
SELECT 'CM00100', COUNT(*) from CM00100
union
SELECT 'CM00101', COUNT(*) from CM00101
union
SELECT 'CM00102', COUNT(*) from CM00102
union
SELECT 'CM00103', COUNT(*) from CM00103
union
SELECT 'CM00104', COUNT(*) from CM00104
union
SELECT 'CM00200', COUNT(*) from CM00200
union
SELECT 'CM00201', COUNT(*) from CM00201
union
SELECT 'CM10100', COUNT(*) from CM10100
union
SELECT 'CM10101', COUNT(*) from CM10101
union
SELECT 'CM20100', COUNT(*) from CM20100
union
SELECT 'CM20200', COUNT(*) from CM20200
union
SELECT 'CM20201', COUNT(*) from CM20201
union
SELECT 'CM20202', COUNT(*) from CM20202
union
SELECT 'CM20203', COUNT(*) from CM20203
union
SELECT 'CM20300', COUNT(*) from CM20300
union
SELECT 'CM20400', COUNT(*) from CM20400
union
SELECT 'CM20500', COUNT(*) from CM20500
union
SELECT 'CM20501', COUNT(*) from CM20501
union
SELECT 'CM20502', COUNT(*) from CM20502
union
SELECT 'CM20600', COUNT(*) from CM20600
union
SELECT 'CM30200', COUNT(*) from CM30200
union
SELECT 'CM30300', COUNT(*) from CM30300
union
SELECT 'CM40100', COUNT(*) from CM40100
union
SELECT 'CM40101', COUNT(*) from CM40101
union
SELECT 'CM40102', COUNT(*) from CM40102
union
SELECT 'CM50507', COUNT(*) from CM50507
union
SELECT 'CM50508', COUNT(*) from CM50508
union
SELECT 'CM90000', COUNT(*) from CM90000
union
SELECT 'CM90001', COUNT(*) from CM90001
union
SELECT 'CO00101', COUNT(*) from CO00101
union
SELECT 'CO00102', COUNT(*) from CO00102
union
SELECT 'CO00103', COUNT(*) from CO00103
union
SELECT 'CO00104', COUNT(*) from CO00104
union
SELECT 'CO00105', COUNT(*) from CO00105
union
SELECT 'CO00121', COUNT(*) from CO00121
union
SELECT 'CO00122', COUNT(*) from CO00122
union
SELECT 'CO00123', COUNT(*) from CO00123
union
SELECT 'CO00201', COUNT(*) from CO00201
union
SELECT 'CO07260', COUNT(*) from CO07260
union
SELECT 'CO40100', COUNT(*) from CO40100
union
SELECT 'coAttachmentItems', COUNT(*) from coAttachmentItems
union
SELECT 'coWorkflowEmailAttachment', COUNT(*) from coWorkflowEmailAttachment
union
SELECT 'CPO10110', COUNT(*) from CPO10110
union
SELECT 'CPO10111', COUNT(*) from CPO10111
union
SELECT 'CPO40001', COUNT(*) from CPO40001
union
SELECT 'CPO40002', COUNT(*) from CPO40002
union
SELECT 'CT00102', COUNT(*) from CT00102
union
SELECT 'DD00100', COUNT(*) from DD00100
union
SELECT 'DD00200', COUNT(*) from DD00200
union
SELECT 'DD10100', COUNT(*) from DD10100
union
SELECT 'DD10200', COUNT(*) from DD10200
union
SELECT 'DD10300', COUNT(*) from DD10300
union
SELECT 'DD10400', COUNT(*) from DD10400
union
SELECT 'DD10500', COUNT(*) from DD10500
union
SELECT 'DD10600', COUNT(*) from DD10600
union
SELECT 'DD10700', COUNT(*) from DD10700
union
SELECT 'DD20100', COUNT(*) from DD20100
union
SELECT 'DD20101', COUNT(*) from DD20101
union
SELECT 'DD30100', COUNT(*) from DD30100
union
SELECT 'DD30101', COUNT(*) from DD30101
union
SELECT 'DD40100', COUNT(*) from DD40100
union
SELECT 'DD40200', COUNT(*) from DD40200
union
SELECT 'DD40400', COUNT(*) from DD40400
union
SELECT 'DD40500', COUNT(*) from DD40500
union
SELECT 'DD40600', COUNT(*) from DD40600
union
SELECT 'DD40700', COUNT(*) from DD40700
union
SELECT 'DET00100', COUNT(*) from DET00100
union
SELECT 'DTA00100', COUNT(*) from DTA00100
union
SELECT 'DTA00200', COUNT(*) from DTA00200
union
SELECT 'DTA00300', COUNT(*) from DTA00300
union
SELECT 'DTA00301', COUNT(*) from DTA00301
union
SELECT 'DTA00700', COUNT(*) from DTA00700
union
SELECT 'DTA10100', COUNT(*) from DTA10100
union
SELECT 'DTA10200', COUNT(*) from DTA10200
union
SELECT 'DW010013', COUNT(*) from DW010013
union
SELECT 'DW010100', COUNT(*) from DW010100
union
SELECT 'ECM10002', COUNT(*) from ECM10002
union
SELECT 'ECM10003', COUNT(*) from ECM10003
union
SELECT 'eConnect_Out', COUNT(*) from eConnect_Out
union
SELECT 'eConnect_Out_Setup', COUNT(*) from eConnect_Out_Setup
union
SELECT 'eConnectOutTemp', COUNT(*) from eConnectOutTemp
union
SELECT 'eePAIVLN', COUNT(*) from eePAIVLN
union
SELECT 'EEPAIVRQ', COUNT(*) from EEPAIVRQ
union
SELECT 'ENC10110', COUNT(*) from ENC10110
union
SELECT 'ENC10111', COUNT(*) from ENC10111
union
SELECT 'ENC10310V', COUNT(*) from ENC10310V
union
SELECT 'ENC10500', COUNT(*) from ENC10500
union
SELECT 'ENC40000', COUNT(*) from ENC40000
union
SELECT 'ENC40100', COUNT(*) from ENC40100
union
SELECT 'ENC40200', COUNT(*) from ENC40200
union
SELECT 'ENCAA10110', COUNT(*) from ENCAA10110
union
SELECT 'ENCAA10111', COUNT(*) from ENCAA10111
union
SELECT 'ENCAA40000', COUNT(*) from ENCAA40000
union
SELECT 'GL00100', COUNT(*) from GL00100
union
SELECT 'GL00100F1', COUNT(*) from GL00100F1
union
SELECT 'GL00100F2', COUNT(*) from GL00100F2
union
SELECT 'GL00100F3', COUNT(*) from GL00100F3
union
SELECT 'GL00100F4', COUNT(*) from GL00100F4
union
SELECT 'GL00102', COUNT(*) from GL00102
union
SELECT 'GL00103', COUNT(*) from GL00103
union
SELECT 'GL00104', COUNT(*) from GL00104
union
SELECT 'GL00105', COUNT(*) from GL00105
union
SELECT 'GL00200', COUNT(*) from GL00200
union
SELECT 'GL00201', COUNT(*) from GL00201
union
SELECT 'GL10000', COUNT(*) from GL10000
union
SELECT 'GL10001', COUNT(*) from GL10001
union
SELECT 'GL10002', COUNT(*) from GL10002
union
SELECT 'GL10100', COUNT(*) from GL10100
union
SELECT 'GL10101', COUNT(*) from GL10101
union
SELECT 'GL10110', COUNT(*) from GL10110
union
SELECT 'GL10111', COUNT(*) from GL10111
union
SELECT 'GL10300', COUNT(*) from GL10300
union
SELECT 'GL11000', COUNT(*) from GL11000
union
SELECT 'GL12000', COUNT(*) from GL12000
union
SELECT 'GL12001', COUNT(*) from GL12001
union
SELECT 'GL20000', COUNT(*) from GL20000
union
SELECT 'GL20001', COUNT(*) from GL20001
union
SELECT 'GL30000', COUNT(*) from GL30000
union
SELECT 'GL30001', COUNT(*) from GL30001
union
SELECT 'GL32000', COUNT(*) from GL32000
union
SELECT 'GL40000', COUNT(*) from GL40000
union
SELECT 'GL40001', COUNT(*) from GL40001
union
SELECT 'GL40100', COUNT(*) from GL40100
union
SELECT 'GL40101', COUNT(*) from GL40101
union
SELECT 'GL40200', COUNT(*) from GL40200
union
SELECT 'GL40300', COUNT(*) from GL40300
union
SELECT 'GL40400', COUNT(*) from GL40400
union
SELECT 'GL40401', COUNT(*) from GL40401
union
SELECT 'GL40402', COUNT(*) from GL40402
union
SELECT 'GL50010', COUNT(*) from GL50010
union
SELECT 'GL50011', COUNT(*) from GL50011
union
SELECT 'GL50102', COUNT(*) from GL50102
union
SELECT 'GL50400', COUNT(*) from GL50400
union
SELECT 'GL50500', COUNT(*) from GL50500
union
SELECT 'GL50501', COUNT(*) from GL50501
union
SELECT 'GL50502', COUNT(*) from GL50502
union
SELECT 'GL50503', COUNT(*) from GL50503
union
SELECT 'GL50504', COUNT(*) from GL50504
union
SELECT 'GL50505', COUNT(*) from GL50505
union
SELECT 'GL50506', COUNT(*) from GL50506
union
SELECT 'GL50507', COUNT(*) from GL50507
union
SELECT 'GL50508', COUNT(*) from GL50508
union
SELECT 'GL70500', COUNT(*) from GL70500
union
SELECT 'GL70501', COUNT(*) from GL70501
union
SELECT 'gp_po_cost', COUNT(*) from gp_po_cost
union
SELECT 'gpAppEnb', COUNT(*) from gpAppEnb
union
SELECT 'gpCustomerException', COUNT(*) from gpCustomerException
union
SELECT 'gpItmCus', COUNT(*) from gpItmCus
union
SELECT 'gpUPRCPR', COUNT(*) from gpUPRCPR
union
SELECT 'GST00103', COUNT(*) from GST00103
union
SELECT 'GST00104', COUNT(*) from GST00104
union
SELECT 'GST00105', COUNT(*) from GST00105
union
SELECT 'GST00111', COUNT(*) from GST00111
union
SELECT 'IF000001', COUNT(*) from IF000001
union
SELECT 'IF000002', COUNT(*) from IF000002
union
SELECT 'IF000003', COUNT(*) from IF000003
union
SELECT 'IF000004', COUNT(*) from IF000004
union
SELECT 'IF000005', COUNT(*) from IF000005
union
SELECT 'IV00101', COUNT(*) from IV00101
union
SELECT 'IV00102', COUNT(*) from IV00102
union
SELECT 'IV00103', COUNT(*) from IV00103
union
SELECT 'IV00104', COUNT(*) from IV00104
union
SELECT 'IV00105', COUNT(*) from IV00105
union
SELECT 'IV00106', COUNT(*) from IV00106
union
SELECT 'IV00107', COUNT(*) from IV00107
union
SELECT 'IV00108', COUNT(*) from IV00108
union
SELECT 'IV00109', COUNT(*) from IV00109
union
SELECT 'IV00110', COUNT(*) from IV00110
union
SELECT 'IV00111', COUNT(*) from IV00111
union
SELECT 'IV00112', COUNT(*) from IV00112
union
SELECT 'IV00113', COUNT(*) from IV00113
union
SELECT 'IV00114', COUNT(*) from IV00114
union
SELECT 'IV00115', COUNT(*) from IV00115
union
SELECT 'IV00116', COUNT(*) from IV00116
union
SELECT 'IV00117', COUNT(*) from IV00117
union
SELECT 'IV00118', COUNT(*) from IV00118
union
SELECT 'IV00119', COUNT(*) from IV00119
union
SELECT 'IV00120', COUNT(*) from IV00120
union
SELECT 'IV00200', COUNT(*) from IV00200
union
SELECT 'IV00300', COUNT(*) from IV00300
union
SELECT 'IV00301', COUNT(*) from IV00301
union
SELECT 'IV00400', COUNT(*) from IV00400
union
SELECT 'IV00401', COUNT(*) from IV00401
union
SELECT 'IV10000', COUNT(*) from IV10000
union
SELECT 'IV10001', COUNT(*) from IV10001
union
SELECT 'IV10002', COUNT(*) from IV10002
union
SELECT 'IV10003', COUNT(*) from IV10003
union
SELECT 'IV10004', COUNT(*) from IV10004
union
SELECT 'IV10200', COUNT(*) from IV10200
union
SELECT 'IV10201', COUNT(*) from IV10201
union
SELECT 'IV10202', COUNT(*) from IV10202
union
SELECT 'IV10300', COUNT(*) from IV10300
union
SELECT 'IV10301', COUNT(*) from IV10301
union
SELECT 'IV10302', COUNT(*) from IV10302
union
SELECT 'IV10303', COUNT(*) from IV10303
union
SELECT 'IV10400', COUNT(*) from IV10400
union
SELECT 'IV10401', COUNT(*) from IV10401
union
SELECT 'IV10402', COUNT(*) from IV10402
union
SELECT 'IV10403', COUNT(*) from IV10403
union
SELECT 'IV30004', COUNT(*) from IV30004
union
SELECT 'IV30100', COUNT(*) from IV30100
union
SELECT 'IV30101', COUNT(*) from IV30101
union
SELECT 'IV30102', COUNT(*) from IV30102
union
SELECT 'IV30200', COUNT(*) from IV30200
union
SELECT 'IV30300', COUNT(*) from IV30300
union
SELECT 'IV30301', COUNT(*) from IV30301
union
SELECT 'IV30302', COUNT(*) from IV30302
union
SELECT 'IV30400', COUNT(*) from IV30400
union
SELECT 'IV30500', COUNT(*) from IV30500
union
SELECT 'IV30600', COUNT(*) from IV30600
union
SELECT 'IV30700', COUNT(*) from IV30700
union
SELECT 'IV30701', COUNT(*) from IV30701
union
SELECT 'IV30702', COUNT(*) from IV30702
union
SELECT 'IV40100', COUNT(*) from IV40100
union
SELECT 'IV40201', COUNT(*) from IV40201
union
SELECT 'IV40202', COUNT(*) from IV40202
union
SELECT 'IV40300', COUNT(*) from IV40300
union
SELECT 'IV40400', COUNT(*) from IV40400
union
SELECT 'IV40401', COUNT(*) from IV40401
union
SELECT 'IV40500', COUNT(*) from IV40500
union
SELECT 'IV40600', COUNT(*) from IV40600
union
SELECT 'IV40700', COUNT(*) from IV40700
union
SELECT 'IV40701', COUNT(*) from IV40701
union
SELECT 'IV40702', COUNT(*) from IV40702
union
SELECT 'IV40800', COUNT(*) from IV40800
union
SELECT 'IV40900', COUNT(*) from IV40900
union
SELECT 'IV41000', COUNT(*) from IV41000
union
SELECT 'IV41001', COUNT(*) from IV41001
union
SELECT 'IV41100', COUNT(*) from IV41100
union
SELECT 'IV41101', COUNT(*) from IV41101
union
SELECT 'IV41102', COUNT(*) from IV41102
union
SELECT 'IV50200', COUNT(*) from IV50200
union
SELECT 'IV50300', COUNT(*) from IV50300
union
SELECT 'IV50501', COUNT(*) from IV50501
union
SELECT 'IV50502', COUNT(*) from IV50502
union
SELECT 'IV70500', COUNT(*) from IV70500
union
SELECT 'IVC10100', COUNT(*) from IVC10100
union
SELECT 'IVC10101', COUNT(*) from IVC10101
union
SELECT 'IVC10102', COUNT(*) from IVC10102
union
SELECT 'IVC10103', COUNT(*) from IVC10103
union
SELECT 'IVC10200', COUNT(*) from IVC10200
union
SELECT 'IVC10300', COUNT(*) from IVC10300
union
SELECT 'IVC10400', COUNT(*) from IVC10400
union
SELECT 'IVC10500', COUNT(*) from IVC10500
union
SELECT 'IVC30100', COUNT(*) from IVC30100
union
SELECT 'IVC30101', COUNT(*) from IVC30101
union
SELECT 'IVC30102', COUNT(*) from IVC30102
union
SELECT 'IVC40100', COUNT(*) from IVC40100
union
SELECT 'IVC40101', COUNT(*) from IVC40101
union
SELECT 'IVC50100', COUNT(*) from IVC50100
union
SELECT 'IVR10015', COUNT(*) from IVR10015
union
SELECT 'LK000001', COUNT(*) from LK000001
union
SELECT 'LK000002', COUNT(*) from LK000002
union
SELECT 'LK000003', COUNT(*) from LK000003
union
SELECT 'LK000004', COUNT(*) from LK000004
union
SELECT 'LK000005', COUNT(*) from LK000005
union
SELECT 'LK000101', COUNT(*) from LK000101
union
SELECT 'LK000102', COUNT(*) from LK000102
union
SELECT 'LK000103', COUNT(*) from LK000103
union
SELECT 'LK4000', COUNT(*) from LK4000
union
SELECT 'LK40001', COUNT(*) from LK40001
union
SELECT 'MC00200', COUNT(*) from MC00200
union
SELECT 'MC00201', COUNT(*) from MC00201
union
SELECT 'MC00300', COUNT(*) from MC00300
union
SELECT 'MC00500', COUNT(*) from MC00500
union
SELECT 'MC020102', COUNT(*) from MC020102
union
SELECT 'MC020103', COUNT(*) from MC020103
union
SELECT 'MC020104', COUNT(*) from MC020104
union
SELECT 'MC020105', COUNT(*) from MC020105
union
SELECT 'MC10000', COUNT(*) from MC10000
union
SELECT 'MC10001', COUNT(*) from MC10001
union
SELECT 'MC10101', COUNT(*) from MC10101
union
SELECT 'MC30001', COUNT(*) from MC30001
union
SELECT 'MC40000', COUNT(*) from MC40000
union
SELECT 'MC40100', COUNT(*) from MC40100
union
SELECT 'MC40201', COUNT(*) from MC40201
union
SELECT 'MC40301', COUNT(*) from MC40301
union
SELECT 'MC40500', COUNT(*) from MC40500
union
SELECT 'MC40600', COUNT(*) from MC40600
union
SELECT 'MC50100', COUNT(*) from MC50100
union
SELECT 'MC50200', COUNT(*) from MC50200
union
SELECT 'MC60400', COUNT(*) from MC60400
union
SELECT 'MinPONum', COUNT(*) from MinPONum
union
SELECT 'MN010000', COUNT(*) from MN010000
union
SELECT 'MNH10000', COUNT(*) from MNH10000
union
SELECT 'PA000001', COUNT(*) from PA000001
union
SELECT 'PA000002', COUNT(*) from PA000002
union
SELECT 'PA00001', COUNT(*) from PA00001
union
SELECT 'PA00002', COUNT(*) from PA00002
union
SELECT 'PA00010', COUNT(*) from PA00010
union
SELECT 'PA00401', COUNT(*) from PA00401
union
SELECT 'PA00402', COUNT(*) from PA00402
union
SELECT 'PA00501', COUNT(*) from PA00501
union
SELECT 'PA00502', COUNT(*) from PA00502
union
SELECT 'PA00503', COUNT(*) from PA00503
union
SELECT 'PA00504', COUNT(*) from PA00504
union
SELECT 'PA00511', COUNT(*) from PA00511
union
SELECT 'PA00512', COUNT(*) from PA00512
union
SELECT 'PA00521', COUNT(*) from PA00521
union
SELECT 'PA00531', COUNT(*) from PA00531
union
SELECT 'PA00532', COUNT(*) from PA00532
union
SELECT 'PA00601', COUNT(*) from PA00601
union
SELECT 'PA00701', COUNT(*) from PA00701
union
SELECT 'PA00801', COUNT(*) from PA00801
union
SELECT 'PA00901', COUNT(*) from PA00901
union
SELECT 'PA01001', COUNT(*) from PA01001
union
SELECT 'PA01101', COUNT(*) from PA01101
union
SELECT 'PA01111', COUNT(*) from PA01111
union
SELECT 'PA01121', COUNT(*) from PA01121
union
SELECT 'PA01122', COUNT(*) from PA01122
union
SELECT 'PA01131', COUNT(*) from PA01131
union
SELECT 'PA01141', COUNT(*) from PA01141
union
SELECT 'PA01151', COUNT(*) from PA01151
union
SELECT 'PA01161', COUNT(*) from PA01161
union
SELECT 'PA01162', COUNT(*) from PA01162
union
SELECT 'PA01201', COUNT(*) from PA01201
union
SELECT 'PA01202', COUNT(*) from PA01202
union
SELECT 'PA01211', COUNT(*) from PA01211
union
SELECT 'PA01221', COUNT(*) from PA01221
union
SELECT 'PA01222', COUNT(*) from PA01222
union
SELECT 'PA01231', COUNT(*) from PA01231
union
SELECT 'PA01241', COUNT(*) from PA01241
union
SELECT 'PA01251', COUNT(*) from PA01251
union
SELECT 'PA01252', COUNT(*) from PA01252
union
SELECT 'PA01301', COUNT(*) from PA01301
union
SELECT 'PA01303', COUNT(*) from PA01303
union
SELECT 'PA01304', COUNT(*) from PA01304
union
SELECT 'PA01341', COUNT(*) from PA01341
union
SELECT 'PA01342', COUNT(*) from PA01342
union
SELECT 'PA01402', COUNT(*) from PA01402
union
SELECT 'PA01403', COUNT(*) from PA01403
union
SELECT 'PA01404', COUNT(*) from PA01404
union
SELECT 'PA01405', COUNT(*) from PA01405
union
SELECT 'PA01406', COUNT(*) from PA01406
union
SELECT 'PA01407', COUNT(*) from PA01407
union
SELECT 'PA01408', COUNT(*) from PA01408
union
SELECT 'PA01409', COUNT(*) from PA01409
union
SELECT 'PA01410', COUNT(*) from PA01410
union
SELECT 'PA01601', COUNT(*) from PA01601
union
SELECT 'PA01801', COUNT(*) from PA01801
union
SELECT 'PA01901', COUNT(*) from PA01901
union
SELECT 'PA02000', COUNT(*) from PA02000
union
SELECT 'PA02001', COUNT(*) from PA02001
union
SELECT 'PA02010', COUNT(*) from PA02010
union
SELECT 'PA02101', COUNT(*) from PA02101
union
SELECT 'PA02301', COUNT(*) from PA02301
union
SELECT 'PA02401', COUNT(*) from PA02401
union
SELECT 'PA02501', COUNT(*) from PA02501
union
SELECT 'PA02601', COUNT(*) from PA02601
union
SELECT 'PA02701', COUNT(*) from PA02701
union
SELECT 'PA03400', COUNT(*) from PA03400
union
SELECT 'PA05100', COUNT(*) from PA05100
union
SELECT 'PA05100A', COUNT(*) from PA05100A
union
SELECT 'PA05200', COUNT(*) from PA05200
union
SELECT 'PA10000', COUNT(*) from PA10000
union
SELECT 'PA10001', COUNT(*) from PA10001
union
SELECT 'PA10003', COUNT(*) from PA10003
union
SELECT 'PA10100', COUNT(*) from PA10100
union
SELECT 'PA10101', COUNT(*) from PA10101
union
SELECT 'PA10103', COUNT(*) from PA10103
union
SELECT 'PA10200', COUNT(*) from PA10200
union
SELECT 'PA10201', COUNT(*) from PA10201
union
SELECT 'PA10203', COUNT(*) from PA10203
union
SELECT 'PA10500', COUNT(*) from PA10500
union
SELECT 'PA10501', COUNT(*) from PA10501
union
SELECT 'PA10502', COUNT(*) from PA10502
union
SELECT 'PA10504', COUNT(*) from PA10504
union
SELECT 'PA10600', COUNT(*) from PA10600
union
SELECT 'PA10601', COUNT(*) from PA10601
union
SELECT 'PA10602', COUNT(*) from PA10602
union
SELECT 'PA10603', COUNT(*) from PA10603
union
SELECT 'PA10701', COUNT(*) from PA10701
union
SELECT 'PA10702', COUNT(*) from PA10702
union
SELECT 'PA10704', COUNT(*) from PA10704
union
SELECT 'PA10705', COUNT(*) from PA10705
union
SELECT 'PA10707', COUNT(*) from PA10707
union
SELECT 'PA10721', COUNT(*) from PA10721
union
SELECT 'PA10731', COUNT(*) from PA10731
union
SELECT 'PA10802', COUNT(*) from PA10802
union
SELECT 'PA10900', COUNT(*) from PA10900
union
SELECT 'PA10901', COUNT(*) from PA10901
union
SELECT 'PA10902', COUNT(*) from PA10902
union
SELECT 'PA10903', COUNT(*) from PA10903
union
SELECT 'PA10904', COUNT(*) from PA10904
union
SELECT 'PA10905', COUNT(*) from PA10905
union
SELECT 'PA11000', COUNT(*) from PA11000
union
SELECT 'PA11100', COUNT(*) from PA11100
union
SELECT 'PA11300', COUNT(*) from PA11300
union
SELECT 'PA11400', COUNT(*) from PA11400
union
SELECT 'PA11500', COUNT(*) from PA11500
union
SELECT 'PA11700', COUNT(*) from PA11700
union
SELECT 'PA11800', COUNT(*) from PA11800
union
SELECT 'PA11801', COUNT(*) from PA11801
union
SELECT 'PA11900', COUNT(*) from PA11900
union
SELECT 'PA11901', COUNT(*) from PA11901
union
SELECT 'PA11902', COUNT(*) from PA11902
union
SELECT 'PA11903', COUNT(*) from PA11903
union
SELECT 'PA11904', COUNT(*) from PA11904
union
SELECT 'PA11905', COUNT(*) from PA11905
union
SELECT 'PA11906', COUNT(*) from PA11906
union
SELECT 'PA12000', COUNT(*) from PA12000
union
SELECT 'PA12001', COUNT(*) from PA12001
union
SELECT 'PA12101', COUNT(*) from PA12101
union
SELECT 'PA12102', COUNT(*) from PA12102
union
SELECT 'PA12103', COUNT(*) from PA12103
union
SELECT 'PA13100', COUNT(*) from PA13100
union
SELECT 'PA13200', COUNT(*) from PA13200
union
SELECT 'PA13201', COUNT(*) from PA13201
union
SELECT 'PA13202', COUNT(*) from PA13202
union
SELECT 'PA13203', COUNT(*) from PA13203
union
SELECT 'PA13204', COUNT(*) from PA13204
union
SELECT 'PA13300', COUNT(*) from PA13300
union
SELECT 'PA13400', COUNT(*) from PA13400
union
SELECT 'PA14100', COUNT(*) from PA14100
union
SELECT 'PA14200', COUNT(*) from PA14200
union
SELECT 'PA14300', COUNT(*) from PA14300
union
SELECT 'PA14301', COUNT(*) from PA14301
union
SELECT 'PA14400', COUNT(*) from PA14400
union
SELECT 'PA14401', COUNT(*) from PA14401
union
SELECT 'PA23000', COUNT(*) from PA23000
union
SELECT 'PA23010', COUNT(*) from PA23010
union
SELECT 'PA23100', COUNT(*) from PA23100
union
SELECT 'PA23101', COUNT(*) from PA23101
union
SELECT 'PA23200', COUNT(*) from PA23200
union
SELECT 'PA23201', COUNT(*) from PA23201
union
SELECT 'PA23202', COUNT(*) from PA23202
union
SELECT 'PA23203', COUNT(*) from PA23203
union
SELECT 'PA23301', COUNT(*) from PA23301
union
SELECT 'PA23302', COUNT(*) from PA23302
union
SELECT 'PA23303', COUNT(*) from PA23303
union
SELECT 'PA23304', COUNT(*) from PA23304
union
SELECT 'PA23305', COUNT(*) from PA23305
union
SELECT 'PA23400', COUNT(*) from PA23400
union
SELECT 'PA23401', COUNT(*) from PA23401
union
SELECT 'PA23500', COUNT(*) from PA23500
union
SELECT 'PA23501', COUNT(*) from PA23501
union
SELECT 'PA23502', COUNT(*) from PA23502
union
SELECT 'PA30000', COUNT(*) from PA30000
union
SELECT 'PA30100', COUNT(*) from PA30100
union
SELECT 'PA30101', COUNT(*) from PA30101
union
SELECT 'PA30103', COUNT(*) from PA30103
union
SELECT 'PA30200', COUNT(*) from PA30200
union
SELECT 'PA30201', COUNT(*) from PA30201
union
SELECT 'PA30203', COUNT(*) from PA30203
union
SELECT 'PA30300', COUNT(*) from PA30300
union
SELECT 'PA30301', COUNT(*) from PA30301
union
SELECT 'PA30303', COUNT(*) from PA30303
union
SELECT 'PA30500', COUNT(*) from PA30500
union
SELECT 'PA30501', COUNT(*) from PA30501
union
SELECT 'PA30503', COUNT(*) from PA30503
union
SELECT 'PA30504', COUNT(*) from PA30504
union
SELECT 'PA30600', COUNT(*) from PA30600
union
SELECT 'PA30601', COUNT(*) from PA30601
union
SELECT 'PA30602', COUNT(*) from PA30602
union
SELECT 'PA30701', COUNT(*) from PA30701
union
SELECT 'PA30703', COUNT(*) from PA30703
union
SELECT 'PA30900', COUNT(*) from PA30900
union
SELECT 'PA30901', COUNT(*) from PA30901
union
SELECT 'PA30902', COUNT(*) from PA30902
union
SELECT 'PA30903', COUNT(*) from PA30903
union
SELECT 'PA30904', COUNT(*) from PA30904
union
SELECT 'PA30905', COUNT(*) from PA30905
union
SELECT 'PA31101', COUNT(*) from PA31101
union
SELECT 'PA31102', COUNT(*) from PA31102
union
SELECT 'PA31103', COUNT(*) from PA31103
union
SELECT 'PA33100', COUNT(*) from PA33100
union
SELECT 'PA33101', COUNT(*) from PA33101
union
SELECT 'PA33200', COUNT(*) from PA33200
union
SELECT 'PA33201', COUNT(*) from PA33201
union
SELECT 'PA33202', COUNT(*) from PA33202
union
SELECT 'PA33203', COUNT(*) from PA33203
union
SELECT 'PA33204', COUNT(*) from PA33204
union
SELECT 'PA33205', COUNT(*) from PA33205
union
SELECT 'PA33206', COUNT(*) from PA33206
union
SELECT 'PA33301', COUNT(*) from PA33301
union
SELECT 'PA33302', COUNT(*) from PA33302
union
SELECT 'PA33303', COUNT(*) from PA33303
union
SELECT 'PA33304', COUNT(*) from PA33304
union
SELECT 'PA33305', COUNT(*) from PA33305
union
SELECT 'PA33401', COUNT(*) from PA33401
union
SELECT 'PA33501', COUNT(*) from PA33501
union
SELECT 'PA33502', COUNT(*) from PA33502
union
SELECT 'PA33601', COUNT(*) from PA33601
union
SELECT 'PA33602', COUNT(*) from PA33602
union
SELECT 'PA33701', COUNT(*) from PA33701
union
SELECT 'PA33702', COUNT(*) from PA33702
union
SELECT 'PA34010', COUNT(*) from PA34010
union
SELECT 'PA40020', COUNT(*) from PA40020
union
SELECT 'PA40030', COUNT(*) from PA40030
union
SELECT 'PA40101', COUNT(*) from PA40101
union
SELECT 'PA40102', COUNT(*) from PA40102
union
SELECT 'PA40201', COUNT(*) from PA40201
union
SELECT 'PA40202', COUNT(*) from PA40202
union
SELECT 'PA40203', COUNT(*) from PA40203
union
SELECT 'PA40501', COUNT(*) from PA40501
union
SELECT 'PA40601', COUNT(*) from PA40601
union
SELECT 'PA40701', COUNT(*) from PA40701
union
SELECT 'PA40801', COUNT(*) from PA40801
union
SELECT 'PA40901', COUNT(*) from PA40901
union
SELECT 'PA41001', COUNT(*) from PA41001
union
SELECT 'PA41101', COUNT(*) from PA41101
union
SELECT 'PA41201', COUNT(*) from PA41201
union
SELECT 'PA41301', COUNT(*) from PA41301
union
SELECT 'PA41302', COUNT(*) from PA41302
union
SELECT 'PA41303', COUNT(*) from PA41303
union
SELECT 'PA41304', COUNT(*) from PA41304
union
SELECT 'PA41401', COUNT(*) from PA41401
union
SELECT 'PA41409', COUNT(*) from PA41409
union
SELECT 'PA41501', COUNT(*) from PA41501
union
SELECT 'PA41601', COUNT(*) from PA41601
union
SELECT 'PA41701', COUNT(*) from PA41701
union
SELECT 'PA41701A', COUNT(*) from PA41701A
union
SELECT 'PA41801', COUNT(*) from PA41801
union
SELECT 'PA41901', COUNT(*) from PA41901
union
SELECT 'PA42001', COUNT(*) from PA42001
union
SELECT 'PA42201', COUNT(*) from PA42201
union
SELECT 'PA42401', COUNT(*) from PA42401
union
SELECT 'PA42501', COUNT(*) from PA42501
union
SELECT 'PA42601', COUNT(*) from PA42601
union
SELECT 'PA42602', COUNT(*) from PA42602
union
SELECT 'PA42701', COUNT(*) from PA42701
union
SELECT 'PA42801', COUNT(*) from PA42801
union
SELECT 'PA42802', COUNT(*) from PA42802
union
SELECT 'PA42901', COUNT(*) from PA42901
union
SELECT 'PA42902', COUNT(*) from PA42902
union
SELECT 'PA43001', COUNT(*) from PA43001
union
SELECT 'PA43002', COUNT(*) from PA43002
union
SELECT 'PA43010', COUNT(*) from PA43010
union
SELECT 'PA43101', COUNT(*) from PA43101
union
SELECT 'PA43102', COUNT(*) from PA43102
union
SELECT 'PA44011', COUNT(*) from PA44011
union
SELECT 'PA44012', COUNT(*) from PA44012
union
SELECT 'PA44013', COUNT(*) from PA44013
union
SELECT 'PA50100', COUNT(*) from PA50100
union
SELECT 'PA50102', COUNT(*) from PA50102
union
SELECT 'PA50103', COUNT(*) from PA50103
union
SELECT 'PA50105', COUNT(*) from PA50105
union
SELECT 'PA60020', COUNT(*) from PA60020
union
SELECT 'PA60030', COUNT(*) from PA60030
union
SELECT 'PA60040', COUNT(*) from PA60040
union
SELECT 'PA61020', COUNT(*) from PA61020
union
SELECT 'PA61040', COUNT(*) from PA61040
union
SELECT 'PA70101', COUNT(*) from PA70101
union
SELECT 'PA89422', COUNT(*) from PA89422
union
SELECT 'PA91301', COUNT(*) from PA91301
union
SELECT 'PA91304', COUNT(*) from PA91304
union
SELECT 'PA92301', COUNT(*) from PA92301
union
SELECT 'PA92304', COUNT(*) from PA92304
union
SELECT 'paActvty', COUNT(*) from paActvty
union
SELECT 'PAADTRCD', COUNT(*) from PAADTRCD
union
SELECT 'palbCash', COUNT(*) from palbCash
union
SELECT 'palbdtl', COUNT(*) from palbdtl
union
SELECT 'palbInvc', COUNT(*) from palbInvc
union
SELECT 'palbmstr', COUNT(*) from palbmstr
union
SELECT 'palbrdty', COUNT(*) from palbrdty
union
SELECT 'palbsetp', COUNT(*) from palbsetp
union
SELECT 'PAUPR01', COUNT(*) from PAUPR01
union
SELECT 'PDK00101', COUNT(*) from PDK00101
union
SELECT 'PDK00102', COUNT(*) from PDK00102
union
SELECT 'PDK00200', COUNT(*) from PDK00200
union
SELECT 'PDK00300', COUNT(*) from PDK00300
union
SELECT 'PDK00301', COUNT(*) from PDK00301
union
SELECT 'PDK00400', COUNT(*) from PDK00400
union
SELECT 'PDK00700', COUNT(*) from PDK00700
union
SELECT 'PDK01601', COUNT(*) from PDK01601
union
SELECT 'PDK03900', COUNT(*) from PDK03900
union
SELECT 'PDK10000', COUNT(*) from PDK10000
union
SELECT 'PDK10001', COUNT(*) from PDK10001
union
SELECT 'PDK10500', COUNT(*) from PDK10500
union
SELECT 'PDK10501', COUNT(*) from PDK10501
union
SELECT 'PDK10502', COUNT(*) from PDK10502
union
SELECT 'PDK10503', COUNT(*) from PDK10503
union
SELECT 'PDK70101', COUNT(*) from PDK70101
union
SELECT 'PDK70300', COUNT(*) from PDK70300
union
SELECT 'PJOURNAL', COUNT(*) from PJOURNAL
union
SELECT 'PM00100', COUNT(*) from PM00100
union
SELECT 'PM00101', COUNT(*) from PM00101
union
SELECT 'PM00200', COUNT(*) from PM00200
union
SELECT 'PM00201', COUNT(*) from PM00201
union
SELECT 'PM00202', COUNT(*) from PM00202
union
SELECT 'PM00203', COUNT(*) from PM00203
union
SELECT 'PM00204', COUNT(*) from PM00204
union
SELECT 'PM00300', COUNT(*) from PM00300
union
SELECT 'PM00400', COUNT(*) from PM00400
union
SELECT 'PM10000', COUNT(*) from PM10000
union
SELECT 'PM10100', COUNT(*) from PM10100
union
SELECT 'PM10200', COUNT(*) from PM10200
union
SELECT 'PM10201', COUNT(*) from PM10201
union
SELECT 'PM10300', COUNT(*) from PM10300
union
SELECT 'PM10400', COUNT(*) from PM10400
union
SELECT 'PM10500', COUNT(*) from PM10500
union
SELECT 'PM10600', COUNT(*) from PM10600
union
SELECT 'PM10801', COUNT(*) from PM10801
union
SELECT 'PM10900', COUNT(*) from PM10900
union
SELECT 'PM10901', COUNT(*) from PM10901
union
SELECT 'PM10902', COUNT(*) from PM10902
union
SELECT 'PM20000', COUNT(*) from PM20000
union
SELECT 'PM20100', COUNT(*) from PM20100
union
SELECT 'PM20200', COUNT(*) from PM20200
union
SELECT 'PM20400', COUNT(*) from PM20400
union
SELECT 'PM20401', COUNT(*) from PM20401
union
SELECT 'PM30200', COUNT(*) from PM30200
union
SELECT 'PM30300', COUNT(*) from PM30300
union
SELECT 'PM30401', COUNT(*) from PM30401
union
SELECT 'PM30600', COUNT(*) from PM30600
union
SELECT 'PM30700', COUNT(*) from PM30700
union
SELECT 'PM30800', COUNT(*) from PM30800
union
SELECT 'PM40100', COUNT(*) from PM40100
union
SELECT 'PM40101', COUNT(*) from PM40101
union
SELECT 'PM40102', COUNT(*) from PM40102
union
SELECT 'PM40103', COUNT(*) from PM40103
union
SELECT 'PM40104', COUNT(*) from PM40104
union
SELECT 'PM40105', COUNT(*) from PM40105
union
SELECT 'PM40106', COUNT(*) from PM40106
union
SELECT 'PM50100', COUNT(*) from PM50100
union
SELECT 'PM50503', COUNT(*) from PM50503
union
SELECT 'PM50504', COUNT(*) from PM50504
union
SELECT 'PM70500', COUNT(*) from PM70500
union
SELECT 'PM80100', COUNT(*) from PM80100
union
SELECT 'PM80200', COUNT(*) from PM80200
union
SELECT 'PM80300', COUNT(*) from PM80300
union
SELECT 'PM80500', COUNT(*) from PM80500
union
SELECT 'PM80600', COUNT(*) from PM80600
union
SELECT 'PM80700', COUNT(*) from PM80700
union
SELECT 'PM80800', COUNT(*) from PM80800
union
SELECT 'PM80900', COUNT(*) from PM80900
union
SELECT 'PM80905', COUNT(*) from PM80905
union
SELECT 'PM80950', COUNT(*) from PM80950
union
SELECT 'PM80960', COUNT(*) from PM80960
union
SELECT 'PM81000', COUNT(*) from PM81000
union
SELECT 'POA40003', COUNT(*) from POA40003
union
SELECT 'POP00101', COUNT(*) from POP00101
union
SELECT 'POP10100', COUNT(*) from POP10100
union
SELECT 'POP10110', COUNT(*) from POP10110
union
SELECT 'POP10140', COUNT(*) from POP10140
union
SELECT 'POP10150', COUNT(*) from POP10150
union
SELECT 'POP10160', COUNT(*) from POP10160
union
SELECT 'POP10170', COUNT(*) from POP10170
union
SELECT 'POP10200', COUNT(*) from POP10200
union
SELECT 'POP10210', COUNT(*) from POP10210
union
SELECT 'POP10300', COUNT(*) from POP10300
union
SELECT 'POP10306', COUNT(*) from POP10306
union
SELECT 'POP10310', COUNT(*) from POP10310
union
SELECT 'POP10330', COUNT(*) from POP10330
union
SELECT 'POP10340', COUNT(*) from POP10340
union
SELECT 'POP10360', COUNT(*) from POP10360
union
SELECT 'POP10390', COUNT(*) from POP10390
union
SELECT 'POP10500', COUNT(*) from POP10500
union
SELECT 'POP10550', COUNT(*) from POP10550
union
SELECT 'POP10600', COUNT(*) from POP10600
union
SELECT 'POP10700', COUNT(*) from POP10700
union
SELECT 'POP10800', COUNT(*) from POP10800
union
SELECT 'POP30000', COUNT(*) from POP30000
union
SELECT 'POP30100', COUNT(*) from POP30100
union
SELECT 'POP30110', COUNT(*) from POP30110
union
SELECT 'POP30160', COUNT(*) from POP30160
union
SELECT 'POP30200', COUNT(*) from POP30200
union
SELECT 'POP30210', COUNT(*) from POP30210
union
SELECT 'POP30300', COUNT(*) from POP30300
union
SELECT 'POP30310', COUNT(*) from POP30310
union
SELECT 'POP30330', COUNT(*) from POP30330
union
SELECT 'POP30340', COUNT(*) from POP30340
union
SELECT 'POP30360', COUNT(*) from POP30360
union
SELECT 'POP30390', COUNT(*) from POP30390
union
SELECT 'POP30700', COUNT(*) from POP30700
union
SELECT 'POP40100', COUNT(*) from POP40100
union
SELECT 'POP40200', COUNT(*) from POP40200
union
SELECT 'POP40300', COUNT(*) from POP40300
union
SELECT 'POP40400', COUNT(*) from POP40400
union
SELECT 'POP40600', COUNT(*) from POP40600
union
SELECT 'POP40800', COUNT(*) from POP40800
union
SELECT 'POP40900', COUNT(*) from POP40900
union
SELECT 'POP70100', COUNT(*) from POP70100
union
SELECT 'POP70200', COUNT(*) from POP70200
union
SELECT 'POR10310', COUNT(*) from POR10310
union
SELECT 'PT00101', COUNT(*) from PT00101
union
SELECT 'PT10000', COUNT(*) from PT10000
union
SELECT 'PT40100', COUNT(*) from PT40100
union
SELECT 'PTE00300', COUNT(*) from PTE00300
union
SELECT 'PTE00301', COUNT(*) from PTE00301
union
SELECT 'PTE00601', COUNT(*) from PTE00601
union
SELECT 'PTE00602', COUNT(*) from PTE00602
union
SELECT 'PTE00603', COUNT(*) from PTE00603
union
SELECT 'PTE10000', COUNT(*) from PTE10000
union
SELECT 'PTE10001', COUNT(*) from PTE10001
union
SELECT 'PTE10500', COUNT(*) from PTE10500
union
SELECT 'PTE10501', COUNT(*) from PTE10501
union
SELECT 'PTE30100', COUNT(*) from PTE30100
union
SELECT 'PTE30101', COUNT(*) from PTE30101
union
SELECT 'PTE30500', COUNT(*) from PTE30500
union
SELECT 'PTE30501', COUNT(*) from PTE30501
union
SELECT 'ReportCatalog', COUNT(*) from ReportCatalog
union
SELECT 'ReportCatalogPending', COUNT(*) from ReportCatalogPending
union
SELECT 'ReportCenters', COUNT(*) from ReportCenters
union
SELECT 'ReportCentersPending', COUNT(*) from ReportCentersPending
union
SELECT 'ReportDestination', COUNT(*) from ReportDestination
union
SELECT 'ReportErrorLog', COUNT(*) from ReportErrorLog
union
SELECT 'ReportInternalNames', COUNT(*) from ReportInternalNames
union
SELECT 'ReportNames', COUNT(*) from ReportNames
union
SELECT 'ReportPublishers', COUNT(*) from ReportPublishers
union
SELECT 'ReportRoles', COUNT(*) from ReportRoles
union
SELECT 'ReportRolesPending', COUNT(*) from ReportRolesPending
union
SELECT 'ReportSchedule', COUNT(*) from ReportSchedule
union
SELECT 'ReportSetup', COUNT(*) from ReportSetup
union
SELECT 'ReportUserPrefs', COUNT(*) from ReportUserPrefs
union
SELECT 'RM00101', COUNT(*) from RM00101
union
SELECT 'RM00102', COUNT(*) from RM00102
union
SELECT 'RM00103', COUNT(*) from RM00103
union
SELECT 'RM00104', COUNT(*) from RM00104
union
SELECT 'RM00105', COUNT(*) from RM00105
union
SELECT 'RM00106', COUNT(*) from RM00106
union
SELECT 'RM00201', COUNT(*) from RM00201
union
SELECT 'RM00301', COUNT(*) from RM00301
union
SELECT 'RM00302', COUNT(*) from RM00302
union
SELECT 'RM00303', COUNT(*) from RM00303
union
SELECT 'RM00305', COUNT(*) from RM00305
union
SELECT 'RM00401', COUNT(*) from RM00401
union
SELECT 'RM00500', COUNT(*) from RM00500
union
SELECT 'RM00700', COUNT(*) from RM00700
union
SELECT 'RM10101', COUNT(*) from RM10101
union
SELECT 'RM10201', COUNT(*) from RM10201
union
SELECT 'RM10301', COUNT(*) from RM10301
union
SELECT 'RM10501', COUNT(*) from RM10501
union
SELECT 'RM10504', COUNT(*) from RM10504
union
SELECT 'RM10601', COUNT(*) from RM10601
union
SELECT 'RM10901', COUNT(*) from RM10901
union
SELECT 'RM20101', COUNT(*) from RM20101
union
SELECT 'RM20102', COUNT(*) from RM20102
union
SELECT 'RM20201', COUNT(*) from RM20201
union
SELECT 'RM20400', COUNT(*) from RM20400
union
SELECT 'RM20401', COUNT(*) from RM20401
union
SELECT 'RM30101', COUNT(*) from RM30101
union
SELECT 'RM30201', COUNT(*) from RM30201
union
SELECT 'RM30202', COUNT(*) from RM30202
union
SELECT 'RM30301', COUNT(*) from RM30301
union
SELECT 'RM30401', COUNT(*) from RM30401
union
SELECT 'RM30501', COUNT(*) from RM30501
union
SELECT 'RM30502', COUNT(*) from RM30502
union
SELECT 'RM30601', COUNT(*) from RM30601
union
SELECT 'RM30701', COUNT(*) from RM30701
union
SELECT 'RM30702', COUNT(*) from RM30702
union
SELECT 'RM40101', COUNT(*) from RM40101
union
SELECT 'RM40102', COUNT(*) from RM40102
union
SELECT 'RM40201', COUNT(*) from RM40201
union
SELECT 'RM40401', COUNT(*) from RM40401
union
SELECT 'RM40501', COUNT(*) from RM40501
union
SELECT 'RM40601', COUNT(*) from RM40601
union
SELECT 'RM40701', COUNT(*) from RM40701
union
SELECT 'RM50100', COUNT(*) from RM50100
union
SELECT 'RM50101', COUNT(*) from RM50101
union
SELECT 'RM50102', COUNT(*) from RM50102
union
SELECT 'RM50103', COUNT(*) from RM50103
union
SELECT 'RM50104', COUNT(*) from RM50104
union
SELECT 'RM50105', COUNT(*) from RM50105
union
SELECT 'RM50505', COUNT(*) from RM50505
union
SELECT 'RM50506', COUNT(*) from RM50506
union
SELECT 'SE000100', COUNT(*) from SE000100
union
SELECT 'SE000200', COUNT(*) from SE000200
union
SELECT 'SE000300', COUNT(*) from SE000300
union
SELECT 'SE000301', COUNT(*) from SE000301
union
SELECT 'SE000401', COUNT(*) from SE000401
union
SELECT 'SE00400', COUNT(*) from SE00400
union
SELECT 'SE465546', COUNT(*) from SE465546
union
SELECT 'SE810000', COUNT(*) from SE810000
union
SELECT 'SE90001', COUNT(*) from SE90001
union
SELECT 'SE988977', COUNT(*) from SE988977
union
SELECT 'SEE30303', COUNT(*) from SEE30303
union
SELECT 'SOP00100', COUNT(*) from SOP00100
union
SELECT 'SOP00200', COUNT(*) from SOP00200
union
SELECT 'SOP00300', COUNT(*) from SOP00300
union
SELECT 'SOP10100', COUNT(*) from SOP10100
union
SELECT 'SOP10101', COUNT(*) from SOP10101
union
SELECT 'SOP10102', COUNT(*) from SOP10102
union
SELECT 'SOP10103', COUNT(*) from SOP10103
union
SELECT 'SOP10104', COUNT(*) from SOP10104
union
SELECT 'SOP10105', COUNT(*) from SOP10105
union
SELECT 'SOP10106', COUNT(*) from SOP10106
union
SELECT 'SOP10107', COUNT(*) from SOP10107
union
SELECT 'SOP10108', COUNT(*) from SOP10108
union
SELECT 'SOP10109', COUNT(*) from SOP10109
union
SELECT 'SOP10110', COUNT(*) from SOP10110
union
SELECT 'SOP10111', COUNT(*) from SOP10111
union
SELECT 'SOP10112', COUNT(*) from SOP10112
union
SELECT 'SOP10200', COUNT(*) from SOP10200
union
SELECT 'SOP10201', COUNT(*) from SOP10201
union
SELECT 'SOP10202', COUNT(*) from SOP10202
union
SELECT 'SOP10203', COUNT(*) from SOP10203
union
SELECT 'SOP10204', COUNT(*) from SOP10204
union
SELECT 'SOP10205', COUNT(*) from SOP10205
union
SELECT 'SOP10206', COUNT(*) from SOP10206
union
SELECT 'SOP10207', COUNT(*) from SOP10207
union
SELECT 'SOP30100', COUNT(*) from SOP30100
union
SELECT 'SOP30200', COUNT(*) from SOP30200
union
SELECT 'SOP30201', COUNT(*) from SOP30201
union
SELECT 'SOP30300', COUNT(*) from SOP30300
union
SELECT 'SOP40100', COUNT(*) from SOP40100
union
SELECT 'SOP40101', COUNT(*) from SOP40101
union
SELECT 'SOP40200', COUNT(*) from SOP40200
union
SELECT 'SOP40201', COUNT(*) from SOP40201
union
SELECT 'SOP40300', COUNT(*) from SOP40300
union
SELECT 'SOP40400', COUNT(*) from SOP40400
union
SELECT 'SOP40500', COUNT(*) from SOP40500
union
SELECT 'SOP40600', COUNT(*) from SOP40600
union
SELECT 'SOP40700', COUNT(*) from SOP40700
union
SELECT 'SOP40701', COUNT(*) from SOP40701
union
SELECT 'SOP40702', COUNT(*) from SOP40702
union
SELECT 'SOP40703', COUNT(*) from SOP40703
union
SELECT 'SOP40704', COUNT(*) from SOP40704
union
SELECT 'SOP40705', COUNT(*) from SOP40705
union
SELECT 'SOP40706', COUNT(*) from SOP40706
union
SELECT 'SOP40708', COUNT(*) from SOP40708
union
SELECT 'SOP40709', COUNT(*) from SOP40709
union
SELECT 'SOP50100', COUNT(*) from SOP50100
union
SELECT 'SOP50200', COUNT(*) from SOP50200
union
SELECT 'SOP50300', COUNT(*) from SOP50300
union
SELECT 'SOP50400', COUNT(*) from SOP50400
union
SELECT 'SOP50401', COUNT(*) from SOP50401
union
SELECT 'SOP50500', COUNT(*) from SOP50500
union
SELECT 'SOP50600', COUNT(*) from SOP50600
union
SELECT 'SOP50700', COUNT(*) from SOP50700
union
SELECT 'SOP60100', COUNT(*) from SOP60100
union
SELECT 'SOP60200', COUNT(*) from SOP60200
union
SELECT 'SOP60300', COUNT(*) from SOP60300
union
SELECT 'SOP70100', COUNT(*) from SOP70100
union
SELECT 'SVC00010', COUNT(*) from SVC00010
union
SELECT 'SVC00020', COUNT(*) from SVC00020
union
SELECT 'SVC00100', COUNT(*) from SVC00100
union
SELECT 'SVC00101', COUNT(*) from SVC00101
union
SELECT 'SVC00102', COUNT(*) from SVC00102
union
SELECT 'SVC00104', COUNT(*) from SVC00104
union
SELECT 'SVC00105', COUNT(*) from SVC00105
union
SELECT 'SVC00106', COUNT(*) from SVC00106
union
SELECT 'SVC00110', COUNT(*) from SVC00110
union
SELECT 'SVC00120', COUNT(*) from SVC00120
union
SELECT 'SVC00200', COUNT(*) from SVC00200
union
SELECT 'SVC00201', COUNT(*) from SVC00201
union
SELECT 'SVC00202', COUNT(*) from SVC00202
union
SELECT 'SVC00203', COUNT(*) from SVC00203
union
SELECT 'SVC00204', COUNT(*) from SVC00204
union
SELECT 'SVC00205', COUNT(*) from SVC00205
union
SELECT 'SVC00207', COUNT(*) from SVC00207
union
SELECT 'SVC00210', COUNT(*) from SVC00210
union
SELECT 'SVC00211', COUNT(*) from SVC00211
union
SELECT 'SVC00212', COUNT(*) from SVC00212
union
SELECT 'SVC00215', COUNT(*) from SVC00215
union
SELECT 'SVC00220', COUNT(*) from SVC00220
union
SELECT 'SVC00225', COUNT(*) from SVC00225
union
SELECT 'SVC00230', COUNT(*) from SVC00230
union
SELECT 'SVC00231', COUNT(*) from SVC00231
union
SELECT 'SVC00240', COUNT(*) from SVC00240
union
SELECT 'SVC00250', COUNT(*) from SVC00250
union
SELECT 'SVC00300', COUNT(*) from SVC00300
union
SELECT 'SVC00301', COUNT(*) from SVC00301
union
SELECT 'SVC00302', COUNT(*) from SVC00302
union
SELECT 'SVC00303', COUNT(*) from SVC00303
union
SELECT 'SVC00305', COUNT(*) from SVC00305
union
SELECT 'SVC00306', COUNT(*) from SVC00306
union
SELECT 'SVC00307', COUNT(*) from SVC00307
union
SELECT 'SVC00310', COUNT(*) from SVC00310
union
SELECT 'SVC00315', COUNT(*) from SVC00315
union
SELECT 'SVC00325', COUNT(*) from SVC00325
union
SELECT 'SVC00350', COUNT(*) from SVC00350
union
SELECT 'SVC00400', COUNT(*) from SVC00400
union
SELECT 'SVC00401', COUNT(*) from SVC00401
union
SELECT 'SVC00501', COUNT(*) from SVC00501
union
SELECT 'SVC00502', COUNT(*) from SVC00502
union
SELECT 'SVC00600', COUNT(*) from SVC00600
union
SELECT 'SVC00601', COUNT(*) from SVC00601
union
SELECT 'SVC00602', COUNT(*) from SVC00602
union
SELECT 'SVC00603', COUNT(*) from SVC00603
union
SELECT 'SVC00604', COUNT(*) from SVC00604
union
SELECT 'SVC00605', COUNT(*) from SVC00605
union
SELECT 'SVC00606', COUNT(*) from SVC00606
union
SELECT 'SVC00607', COUNT(*) from SVC00607
union
SELECT 'SVC00608', COUNT(*) from SVC00608
union
SELECT 'SVC00609', COUNT(*) from SVC00609
union
SELECT 'SVC00610', COUNT(*) from SVC00610
union
SELECT 'SVC00614', COUNT(*) from SVC00614
union
SELECT 'SVC00615', COUNT(*) from SVC00615
union
SELECT 'SVC00620', COUNT(*) from SVC00620
union
SELECT 'SVC00625', COUNT(*) from SVC00625
union
SELECT 'SVC00631', COUNT(*) from SVC00631
union
SELECT 'SVC00635', COUNT(*) from SVC00635
union
SELECT 'SVC00640', COUNT(*) from SVC00640
union
SELECT 'SVC00650', COUNT(*) from SVC00650
union
SELECT 'SVC00651', COUNT(*) from SVC00651
union
SELECT 'SVC00652', COUNT(*) from SVC00652
union
SELECT 'SVC00653', COUNT(*) from SVC00653
union
SELECT 'SVC00654', COUNT(*) from SVC00654
union
SELECT 'SVC00655', COUNT(*) from SVC00655
union
SELECT 'SVC00660', COUNT(*) from SVC00660
union
SELECT 'SVC00661', COUNT(*) from SVC00661
union
SELECT 'SVC00670', COUNT(*) from SVC00670
union
SELECT 'SVC00675', COUNT(*) from SVC00675
union
SELECT 'SVC00680', COUNT(*) from SVC00680
union
SELECT 'SVC00681', COUNT(*) from SVC00681
union
SELECT 'SVC00682', COUNT(*) from SVC00682
union
SELECT 'SVC00683', COUNT(*) from SVC00683
union
SELECT 'SVC00700', COUNT(*) from SVC00700
union
SELECT 'SVC00701', COUNT(*) from SVC00701
union
SELECT 'SVC00702', COUNT(*) from SVC00702
union
SELECT 'SVC00710', COUNT(*) from SVC00710
union
SELECT 'SVC00712', COUNT(*) from SVC00712
union
SELECT 'SVC00720', COUNT(*) from SVC00720
union
SELECT 'SVC00731', COUNT(*) from SVC00731
union
SELECT 'SVC00800', COUNT(*) from SVC00800
union
SELECT 'SVC00801', COUNT(*) from SVC00801
union
SELECT 'SVC00850', COUNT(*) from SVC00850
union
SELECT 'SVC00851', COUNT(*) from SVC00851
union
SELECT 'SVC00900', COUNT(*) from SVC00900
union
SELECT 'SVC00901', COUNT(*) from SVC00901
union
SELECT 'SVC00902', COUNT(*) from SVC00902
union
SELECT 'SVC00903', COUNT(*) from SVC00903
union
SELECT 'SVC00904', COUNT(*) from SVC00904
union
SELECT 'SVC00905', COUNT(*) from SVC00905
union
SELECT 'SVC00906', COUNT(*) from SVC00906
union
SELECT 'SVC00907', COUNT(*) from SVC00907
union
SELECT 'SVC00908', COUNT(*) from SVC00908
union
SELECT 'SVC00909', COUNT(*) from SVC00909
union
SELECT 'SVC00910', COUNT(*) from SVC00910
union
SELECT 'SVC00911', COUNT(*) from SVC00911
union
SELECT 'SVC00913', COUNT(*) from SVC00913
union
SELECT 'SVC00914', COUNT(*) from SVC00914
union
SELECT 'SVC00920', COUNT(*) from SVC00920
union
SELECT 'SVC00921', COUNT(*) from SVC00921
union
SELECT 'SVC00922', COUNT(*) from SVC00922
union
SELECT 'SVC00925', COUNT(*) from SVC00925
union
SELECT 'SVC00930', COUNT(*) from SVC00930
union
SELECT 'SVC00940', COUNT(*) from SVC00940
union
SELECT 'SVC00941', COUNT(*) from SVC00941
union
SELECT 'SVC00942', COUNT(*) from SVC00942
union
SELECT 'SVC00946', COUNT(*) from SVC00946
union
SELECT 'SVC00947', COUNT(*) from SVC00947
union
SELECT 'SVC00950', COUNT(*) from SVC00950
union
SELECT 'SVC00951', COUNT(*) from SVC00951
union
SELECT 'SVC00952', COUNT(*) from SVC00952
union
SELECT 'SVC00953', COUNT(*) from SVC00953
union
SELECT 'SVC00955', COUNT(*) from SVC00955
union
SELECT 'SVC00960', COUNT(*) from SVC00960
union
SELECT 'SVC00970', COUNT(*) from SVC00970
union
SELECT 'SVC00980', COUNT(*) from SVC00980
union
SELECT 'SVC00995', COUNT(*) from SVC00995
union
SELECT 'SVC00997', COUNT(*) from SVC00997
union
SELECT 'SVC00998', COUNT(*) from SVC00998
union
SELECT 'SVC00999', COUNT(*) from SVC00999
union
SELECT 'SVC01000', COUNT(*) from SVC01000
union
SELECT 'SVC01100', COUNT(*) from SVC01100
union
SELECT 'SVC01101', COUNT(*) from SVC01101
union
SELECT 'SVC01400', COUNT(*) from SVC01400
union
SELECT 'SVC03000', COUNT(*) from SVC03000
union
SELECT 'SVC05000', COUNT(*) from SVC05000
union
SELECT 'SVC05001', COUNT(*) from SVC05001
union
SELECT 'SVC05002', COUNT(*) from SVC05002
union
SELECT 'SVC05003', COUNT(*) from SVC05003
union
SELECT 'SVC05004', COUNT(*) from SVC05004
union
SELECT 'SVC05015', COUNT(*) from SVC05015
union
SELECT 'SVC05020', COUNT(*) from SVC05020
union
SELECT 'SVC05030', COUNT(*) from SVC05030
union
SELECT 'SVC05115', COUNT(*) from SVC05115
union
SELECT 'SVC05200', COUNT(*) from SVC05200
union
SELECT 'SVC05210', COUNT(*) from SVC05210
union
SELECT 'SVC05212', COUNT(*) from SVC05212
union
SELECT 'SVC05250', COUNT(*) from SVC05250
union
SELECT 'SVC05251', COUNT(*) from SVC05251
union
SELECT 'SVC05255', COUNT(*) from SVC05255
union
SELECT 'SVC05256', COUNT(*) from SVC05256
union
SELECT 'SVC05500', COUNT(*) from SVC05500
union
SELECT 'SVC05501', COUNT(*) from SVC05501
union
SELECT 'SVC05502', COUNT(*) from SVC05502
union
SELECT 'SVC05600', COUNT(*) from SVC05600
union
SELECT 'SVC05601', COUNT(*) from SVC05601
union
SELECT 'SVC05602', COUNT(*) from SVC05602
union
SELECT 'SVC05612', COUNT(*) from SVC05612
union
SELECT 'SVC05615', COUNT(*) from SVC05615
union
SELECT 'SVC05620', COUNT(*) from SVC05620
union
SELECT 'SVC05625', COUNT(*) from SVC05625
union
SELECT 'SVC05630', COUNT(*) from SVC05630
union
SELECT 'SVC05635', COUNT(*) from SVC05635
union
SELECT 'SVC06001', COUNT(*) from SVC06001
union
SELECT 'SVC06002', COUNT(*) from SVC06002
union
SELECT 'SVC06003', COUNT(*) from SVC06003
union
SELECT 'SVC06004', COUNT(*) from SVC06004
union
SELECT 'SVC06005', COUNT(*) from SVC06005
union
SELECT 'SVC06010', COUNT(*) from SVC06010
union
SELECT 'SVC06011', COUNT(*) from SVC06011
union
SELECT 'SVC06015', COUNT(*) from SVC06015
union
SELECT 'SVC06016', COUNT(*) from SVC06016
union
SELECT 'SVC06017', COUNT(*) from SVC06017
union
SELECT 'SVC06020', COUNT(*) from SVC06020
union
SELECT 'SVC06021', COUNT(*) from SVC06021
union
SELECT 'SVC06100', COUNT(*) from SVC06100
union
SELECT 'SVC06101', COUNT(*) from SVC06101
union
SELECT 'SVC06103', COUNT(*) from SVC06103
union
SELECT 'SVC06105', COUNT(*) from SVC06105
union
SELECT 'SVC06110', COUNT(*) from SVC06110
union
SELECT 'SVC06112', COUNT(*) from SVC06112
union
SELECT 'SVC06115', COUNT(*) from SVC06115
union
SELECT 'SVC06120', COUNT(*) from SVC06120
union
SELECT 'SVC06130', COUNT(*) from SVC06130
union
SELECT 'SVC06131', COUNT(*) from SVC06131
union
SELECT 'SVC06200', COUNT(*) from SVC06200
union
SELECT 'SVC06201', COUNT(*) from SVC06201
union
SELECT 'SVC06300', COUNT(*) from SVC06300
union
SELECT 'SVC06301', COUNT(*) from SVC06301
union
SELECT 'SVC07000', COUNT(*) from SVC07000
union
SELECT 'SVC07100', COUNT(*) from SVC07100
union
SELECT 'SVC07500', COUNT(*) from SVC07500
union
SELECT 'SVC07510', COUNT(*) from SVC07510
union
SELECT 'SVC07511', COUNT(*) from SVC07511
union
SELECT 'SVC07550', COUNT(*) from SVC07550
union
SELECT 'SVC10300', COUNT(*) from SVC10300
union
SELECT 'SVC10301', COUNT(*) from SVC10301
union
SELECT 'SVC30200', COUNT(*) from SVC30200
union
SELECT 'SVC30201', COUNT(*) from SVC30201
union
SELECT 'SVC30202', COUNT(*) from SVC30202
union
SELECT 'SVC30203', COUNT(*) from SVC30203
union
SELECT 'SVC30207', COUNT(*) from SVC30207
union
SELECT 'SVC30210', COUNT(*) from SVC30210
union
SELECT 'SVC30220', COUNT(*) from SVC30220
union
SELECT 'SVC30230', COUNT(*) from SVC30230
union
SELECT 'SVC30231', COUNT(*) from SVC30231
union
SELECT 'SVC30240', COUNT(*) from SVC30240
union
SELECT 'SVC30250', COUNT(*) from SVC30250
union
SELECT 'SVC30600', COUNT(*) from SVC30600
union
SELECT 'SVC30601', COUNT(*) from SVC30601
union
SELECT 'SVC30603', COUNT(*) from SVC30603
union
SELECT 'SVC30604', COUNT(*) from SVC30604
union
SELECT 'SVC30605', COUNT(*) from SVC30605
union
SELECT 'SVC30606', COUNT(*) from SVC30606
union
SELECT 'SVC30607', COUNT(*) from SVC30607
union
SELECT 'SVC30608', COUNT(*) from SVC30608
union
SELECT 'SVC30609', COUNT(*) from SVC30609
union
SELECT 'SVC30610', COUNT(*) from SVC30610
union
SELECT 'SVC30620', COUNT(*) from SVC30620
union
SELECT 'SVC30652', COUNT(*) from SVC30652
union
SELECT 'SVC30655', COUNT(*) from SVC30655
union
SELECT 'SVC30681', COUNT(*) from SVC30681
union
SELECT 'SVC30682', COUNT(*) from SVC30682
union
SELECT 'SVC30683', COUNT(*) from SVC30683
union
SELECT 'SVC30700', COUNT(*) from SVC30700
union
SELECT 'SVC30701', COUNT(*) from SVC30701
union
SELECT 'SVC30702', COUNT(*) from SVC30702
union
SELECT 'SVC30731', COUNT(*) from SVC30731
union
SELECT 'SVC35000', COUNT(*) from SVC35000
union
SELECT 'SVC35001', COUNT(*) from SVC35001
union
SELECT 'SVC35020', COUNT(*) from SVC35020
union
SELECT 'SVC35030', COUNT(*) from SVC35030
union
SELECT 'SVC35200', COUNT(*) from SVC35200
union
SELECT 'SVC35210', COUNT(*) from SVC35210
union
SELECT 'SVC35255', COUNT(*) from SVC35255
union
SELECT 'SVC35256', COUNT(*) from SVC35256
union
SELECT 'SVC35600', COUNT(*) from SVC35600
union
SELECT 'SVC35601', COUNT(*) from SVC35601
union
SELECT 'SVC35602', COUNT(*) from SVC35602
union
SELECT 'SVC35620', COUNT(*) from SVC35620
union
SELECT 'SVC35630', COUNT(*) from SVC35630
union
SELECT 'SVC40500', COUNT(*) from SVC40500
union
SELECT 'SVC70500', COUNT(*) from SVC70500
union
SELECT 'SVC8000', COUNT(*) from SVC8000
union
SELECT 'SVC8001', COUNT(*) from SVC8001
union
SELECT 'SVC80010', COUNT(*) from SVC80010
union
SELECT 'SVC8005', COUNT(*) from SVC8005
union
SELECT 'SVC8009', COUNT(*) from SVC8009
union
SELECT 'SY00100', COUNT(*) from SY00100
union
SELECT 'SY00300', COUNT(*) from SY00300
union
SELECT 'SY00400', COUNT(*) from SY00400
union
SELECT 'SY00500', COUNT(*) from SY00500
union
SELECT 'SY00600', COUNT(*) from SY00600
union
SELECT 'SY00700', COUNT(*) from SY00700
union
SELECT 'SY00900', COUNT(*) from SY00900
union
SELECT 'SY01000', COUNT(*) from SY01000
union
SELECT 'SY01100', COUNT(*) from SY01100
union
SELECT 'SY01200', COUNT(*) from SY01200
union
SELECT 'SY01201', COUNT(*) from SY01201
union
SELECT 'SY01300', COUNT(*) from SY01300
union
SELECT 'SY01401', COUNT(*) from SY01401
union
SELECT 'SY02200', COUNT(*) from SY02200
union
SELECT 'SY02300', COUNT(*) from SY02300
union
SELECT 'SY02500', COUNT(*) from SY02500
union
SELECT 'SY02800', COUNT(*) from SY02800
union
SELECT 'SY03000', COUNT(*) from SY03000
union
SELECT 'SY03100', COUNT(*) from SY03100
union
SELECT 'SY03300', COUNT(*) from SY03300
union
SELECT 'SY03400', COUNT(*) from SY03400
union
SELECT 'SY03900', COUNT(*) from SY03900
union
SELECT 'SY04100', COUNT(*) from SY04100
union
SELECT 'SY04200', COUNT(*) from SY04200
union
SELECT 'SY04800', COUNT(*) from SY04800
union
SELECT 'SY04900', COUNT(*) from SY04900
union
SELECT 'SY04901', COUNT(*) from SY04901
union
SELECT 'SY04902', COUNT(*) from SY04902
union
SELECT 'SY04903', COUNT(*) from SY04903
union
SELECT 'SY04904', COUNT(*) from SY04904
union
SELECT 'SY04905', COUNT(*) from SY04905
union
SELECT 'SY04906', COUNT(*) from SY04906
union
SELECT 'SY04910', COUNT(*) from SY04910
union
SELECT 'SY04911', COUNT(*) from SY04911
union
SELECT 'SY04912', COUNT(*) from SY04912
union
SELECT 'SY04915', COUNT(*) from SY04915
union
SELECT 'SY04930', COUNT(*) from SY04930
union
SELECT 'SY04950', COUNT(*) from SY04950
union
SELECT 'SY04951', COUNT(*) from SY04951
union
SELECT 'SY05500', COUNT(*) from SY05500
union
SELECT 'SY06000', COUNT(*) from SY06000
union
SELECT 'SY07250', COUNT(*) from SY07250
union
SELECT 'SY07255', COUNT(*) from SY07255
union
SELECT 'SY20030', COUNT(*) from SY20030
union
SELECT 'SY30500', COUNT(*) from SY30500
union
SELECT 'SY40100', COUNT(*) from SY40100
union
SELECT 'SY40101', COUNT(*) from SY40101
union
SELECT 'SY40102', COUNT(*) from SY40102
union
SELECT 'SY40103', COUNT(*) from SY40103
union
SELECT 'SY70100', COUNT(*) from SY70100
union
SELECT 'SY70200', COUNT(*) from SY70200
union
SELECT 'SY70300', COUNT(*) from SY70300
union
SELECT 'SY70400', COUNT(*) from SY70400
union
SELECT 'SY70500', COUNT(*) from SY70500
union
SELECT 'SY70501', COUNT(*) from SY70501
union
SELECT 'SY70600', COUNT(*) from SY70600
union
SELECT 'SY90000', COUNT(*) from SY90000
union
SELECT 'TA1099', COUNT(*) from TA1099
union
SELECT 'TACHANGE', COUNT(*) from TACHANGE
union
SELECT 'TAIVRec', COUNT(*) from TAIVRec
union
SELECT 'TASCMFG', COUNT(*) from TASCMFG
union
SELECT 'TX00101', COUNT(*) from TX00101
union
SELECT 'TX00102', COUNT(*) from TX00102
union
SELECT 'TX00201', COUNT(*) from TX00201
union
SELECT 'TX00202', COUNT(*) from TX00202
union
SELECT 'TX00203', COUNT(*) from TX00203
union
SELECT 'TX20500', COUNT(*) from TX20500
union
SELECT 'TX30000', COUNT(*) from TX30000
union
SELECT 'TX40101', COUNT(*) from TX40101
union
SELECT 'UPR00100', COUNT(*) from UPR00100
union
SELECT 'UPR00102', COUNT(*) from UPR00102
union
SELECT 'UPR00111', COUNT(*) from UPR00111
union
SELECT 'UPR00112', COUNT(*) from UPR00112
union
SELECT 'UPR00113', COUNT(*) from UPR00113
union
SELECT 'UPR00200', COUNT(*) from UPR00200
union
SELECT 'UPR00201', COUNT(*) from UPR00201
union
SELECT 'UPR00202', COUNT(*) from UPR00202
union
SELECT 'UPR00203', COUNT(*) from UPR00203
union
SELECT 'UPR00210', COUNT(*) from UPR00210
union
SELECT 'UPR00211', COUNT(*) from UPR00211
union
SELECT 'UPR00220', COUNT(*) from UPR00220
union
SELECT 'UPR00221', COUNT(*) from UPR00221
union
SELECT 'UPR00222', COUNT(*) from UPR00222
union
SELECT 'UPR00300', COUNT(*) from UPR00300
union
SELECT 'UPR00400', COUNT(*) from UPR00400
union
SELECT 'UPR00402', COUNT(*) from UPR00402
union
SELECT 'UPR00500', COUNT(*) from UPR00500
union
SELECT 'UPR00501', COUNT(*) from UPR00501
union
SELECT 'UPR00502', COUNT(*) from UPR00502
union
SELECT 'UPR00600', COUNT(*) from UPR00600
union
SELECT 'UPR00601', COUNT(*) from UPR00601
union
SELECT 'UPR00700', COUNT(*) from UPR00700
union
SELECT 'UPR00800', COUNT(*) from UPR00800
union
SELECT 'UPR00900', COUNT(*) from UPR00900
union
SELECT 'UPR00901', COUNT(*) from UPR00901
union
SELECT 'UPR00902', COUNT(*) from UPR00902
union
SELECT 'UPR00903', COUNT(*) from UPR00903
union
SELECT 'UPR00904', COUNT(*) from UPR00904
union
SELECT 'UPR00905', COUNT(*) from UPR00905
union
SELECT 'UPR10100', COUNT(*) from UPR10100
union
SELECT 'UPR10101', COUNT(*) from UPR10101
union
SELECT 'UPR10103', COUNT(*) from UPR10103
union
SELECT 'UPR10104', COUNT(*) from UPR10104
union
SELECT 'UPR10105', COUNT(*) from UPR10105
union
SELECT 'UPR10106', COUNT(*) from UPR10106
union
SELECT 'UPR10107', COUNT(*) from UPR10107
union
SELECT 'UPR10108', COUNT(*) from UPR10108
union
SELECT 'UPR10109', COUNT(*) from UPR10109
union
SELECT 'UPR10110', COUNT(*) from UPR10110
union
SELECT 'UPR10111', COUNT(*) from UPR10111
union
SELECT 'UPR10200', COUNT(*) from UPR10200
union
SELECT 'UPR10201', COUNT(*) from UPR10201
union
SELECT 'UPR10202', COUNT(*) from UPR10202
union
SELECT 'UPR10203', COUNT(*) from UPR10203
union
SELECT 'UPR10204', COUNT(*) from UPR10204
union
SELECT 'UPR10205', COUNT(*) from UPR10205
union
SELECT 'UPR10206', COUNT(*) from UPR10206
union
SELECT 'UPR10207', COUNT(*) from UPR10207
union
SELECT 'UPR10208', COUNT(*) from UPR10208
union
SELECT 'UPR10209', COUNT(*) from UPR10209
union
SELECT 'UPR10210', COUNT(*) from UPR10210
union
SELECT 'UPR10211', COUNT(*) from UPR10211
union
SELECT 'UPR10212', COUNT(*) from UPR10212
union
SELECT 'UPR10213', COUNT(*) from UPR10213
union
SELECT 'UPR10214', COUNT(*) from UPR10214
union
SELECT 'UPR10215', COUNT(*) from UPR10215
union
SELECT 'UPR10216', COUNT(*) from UPR10216
union
SELECT 'UPR10301', COUNT(*) from UPR10301
union
SELECT 'UPR10302', COUNT(*) from UPR10302
union
SELECT 'UPR10303', COUNT(*) from UPR10303
union
SELECT 'UPR10307', COUNT(*) from UPR10307
union
SELECT 'UPR10308', COUNT(*) from UPR10308
union
SELECT 'UPR10309', COUNT(*) from UPR10309
union
SELECT 'UPR10310', COUNT(*) from UPR10310
union
SELECT 'UPR10400', COUNT(*) from UPR10400
union
SELECT 'UPR10500', COUNT(*) from UPR10500
union
SELECT 'UPR10501', COUNT(*) from UPR10501
union
SELECT 'UPR10502', COUNT(*) from UPR10502
union
SELECT 'UPR19900', COUNT(*) from UPR19900
union
SELECT 'UPR19901', COUNT(*) from UPR19901
union
SELECT 'UPR30100', COUNT(*) from UPR30100
union
SELECT 'UPR30200', COUNT(*) from UPR30200
union
SELECT 'UPR30300', COUNT(*) from UPR30300
union
SELECT 'UPR30301', COUNT(*) from UPR30301
union
SELECT 'UPR30400', COUNT(*) from UPR30400
union
SELECT 'UPR30401', COUNT(*) from UPR30401
union
SELECT 'UPR30500', COUNT(*) from UPR30500
union
SELECT 'UPR30501', COUNT(*) from UPR30501
union
SELECT 'UPR30502', COUNT(*) from UPR30502
union
SELECT 'UPR30600', COUNT(*) from UPR30600
union
SELECT 'UPR30601', COUNT(*) from UPR30601
union
SELECT 'UPR30602', COUNT(*) from UPR30602
union
SELECT 'UPR30603', COUNT(*) from UPR30603
union
SELECT 'UPR30604', COUNT(*) from UPR30604
union
SELECT 'UPR30700', COUNT(*) from UPR30700
union
SELECT 'UPR40100', COUNT(*) from UPR40100
union
SELECT 'UPR40101', COUNT(*) from UPR40101
union
SELECT 'UPR40104', COUNT(*) from UPR40104
union
SELECT 'UPR40105', COUNT(*) from UPR40105
union
SELECT 'UPR40200', COUNT(*) from UPR40200
union
SELECT 'UPR40201', COUNT(*) from UPR40201
union
SELECT 'UPR40202', COUNT(*) from UPR40202
union
SELECT 'UPR40203', COUNT(*) from UPR40203
union
SELECT 'UPR40300', COUNT(*) from UPR40300
union
SELECT 'UPR40301', COUNT(*) from UPR40301
union
SELECT 'UPR40500', COUNT(*) from UPR40500
union
SELECT 'UPR40501', COUNT(*) from UPR40501
union
SELECT 'UPR40502', COUNT(*) from UPR40502
union
SELECT 'UPR40600', COUNT(*) from UPR40600
union
SELECT 'UPR40700', COUNT(*) from UPR40700
union
SELECT 'UPR40800', COUNT(*) from UPR40800
union
SELECT 'UPR40801', COUNT(*) from UPR40801
union
SELECT 'UPR40852', COUNT(*) from UPR40852
union
SELECT 'UPR40900', COUNT(*) from UPR40900
union
SELECT 'UPR40901', COUNT(*) from UPR40901
union
SELECT 'UPR40902', COUNT(*) from UPR40902
union
SELECT 'UPR40950', COUNT(*) from UPR40950
union
SELECT 'UPR40951', COUNT(*) from UPR40951
union
SELECT 'UPR41100', COUNT(*) from UPR41100
union
SELECT 'UPR41200', COUNT(*) from UPR41200
union
SELECT 'UPR41201', COUNT(*) from UPR41201
union
SELECT 'UPR41400', COUNT(*) from UPR41400
union
SELECT 'UPR41401', COUNT(*) from UPR41401
union
SELECT 'UPR41500', COUNT(*) from UPR41500
union
SELECT 'UPR41700', COUNT(*) from UPR41700
union
SELECT 'UPR41800', COUNT(*) from UPR41800
union
SELECT 'UPR41801', COUNT(*) from UPR41801
union
SELECT 'UPR41900', COUNT(*) from UPR41900
union
SELECT 'UPR41901', COUNT(*) from UPR41901
union
SELECT 'UPR41902', COUNT(*) from UPR41902
union
SELECT 'UPR42000', COUNT(*) from UPR42000
union
SELECT 'UPR42100', COUNT(*) from UPR42100
union
SELECT 'UPR42101', COUNT(*) from UPR42101
union
SELECT 'UPR42102', COUNT(*) from UPR42102
union
SELECT 'UPR42103', COUNT(*) from UPR42103
union
SELECT 'UPR42104', COUNT(*) from UPR42104
union
SELECT 'UPR42105', COUNT(*) from UPR42105
union
SELECT 'UPR42106', COUNT(*) from UPR42106
union
SELECT 'UPR42110', COUNT(*) from UPR42110
union
SELECT 'UPR42200', COUNT(*) from UPR42200
union
SELECT 'UPR42201', COUNT(*) from UPR42201
union
SELECT 'UPR42202', COUNT(*) from UPR42202
union
SELECT 'UPR42203', COUNT(*) from UPR42203
union
SELECT 'UPR42300', COUNT(*) from UPR42300
union
SELECT 'UPR42301', COUNT(*) from UPR42301
union
SELECT 'UPR42400', COUNT(*) from UPR42400
union
SELECT 'UPR42401', COUNT(*) from UPR42401
union
SELECT 'UPR42402', COUNT(*) from UPR42402
union
SELECT 'UPR42403', COUNT(*) from UPR42403
union
SELECT 'UPR42404', COUNT(*) from UPR42404
union
SELECT 'UPR42405', COUNT(*) from UPR42405
union
SELECT 'UPR42406', COUNT(*) from UPR42406
union
SELECT 'UPR42500', COUNT(*) from UPR42500
union
SELECT 'UPR42501', COUNT(*) from UPR42501
union
SELECT 'UPR42502', COUNT(*) from UPR42502
union
SELECT 'UPR42503', COUNT(*) from UPR42503
union
SELECT 'UPR42504', COUNT(*) from UPR42504
union
SELECT 'UPR42505', COUNT(*) from UPR42505
union
SELECT 'UPR70500', COUNT(*) from UPR70500
union
SELECT 'UPR70501', COUNT(*) from UPR70501
union
SELECT 'VAT00200', COUNT(*) from VAT00200
union
SELECT 'VAT00300', COUNT(*) from VAT00300
union
SELECT 'VAT10000', COUNT(*) from VAT10000
union
SELECT 'VAT10001', COUNT(*) from VAT10001
union
SELECT 'VAT10002', COUNT(*) from VAT10002
union
SELECT 'VAT10003', COUNT(*) from VAT10003
union
SELECT 'VAT10007', COUNT(*) from VAT10007
union
SELECT 'VAT10100', COUNT(*) from VAT10100
union
SELECT 'VAT10101', COUNT(*) from VAT10101
union
SELECT 'VAT10200', COUNT(*) from VAT10200
union
SELECT 'VAT10201', COUNT(*) from VAT10201
union
SELECT 'VAT10302', COUNT(*) from VAT10302
union
SELECT 'WF00100', COUNT(*) from WF00100
union
SELECT 'WF00104', COUNT(*) from WF00104
union
SELECT 'WF100001', COUNT(*) from WF100001
union
SELECT 'WF100002', COUNT(*) from WF100002
union
SELECT 'WF100003', COUNT(*) from WF100003
union
SELECT 'WF30100', COUNT(*) from WF30100
union
SELECT 'WF30101', COUNT(*) from WF30101
union
SELECT 'WF40200', COUNT(*) from WF40200
union
SELECT 'WF40201', COUNT(*) from WF40201
union
SELECT 'WF40202', COUNT(*) from WF40202
union
SELECT 'WF40300', COUNT(*) from WF40300
union
SELECT 'WF40310', COUNT(*) from WF40310
union
SELECT 'WF40400', COUNT(*) from WF40400
union
SELECT 'WF40500', COUNT(*) from WF40500
union
SELECT 'WF40510', COUNT(*) from WF40510
union
SELECT 'WF70500', COUNT(*) from WF70500
union
SELECT 'WFI10002', COUNT(*) from WFI10002
union
SELECT 'WFI10003', COUNT(*) from WFI10003
union
SELECT 'WFI10004', COUNT(*) from WFI10004
union
SELECT 'WFI10005', COUNT(*) from WFI10005
union
SELECT 'wkPostingValidationState', COUNT(*) from wkPostingValidationState
union
SELECT 'WorkflowHistory', COUNT(*) from WorkflowHistory
union
SELECT 'WorkflowTrackingHistory', COUNT(*) from WorkflowTrackingHistory
union
SELECT 'XLActInf', COUNT(*) from XLActInf
union
SELECT 'XLFileIn', COUNT(*) from XLFileIn
union
SELECT 'XLImport', COUNT(*) from XLImport
union
SELECT 'XLVerAct', COUNT(*) from XLVerAct;
select * from @stats;
select * from @stats where nrecords=0;

